.background {
    width: 100%;
    opacity: 0.8;
    position: absolute;
    left: 0;
    top: 0;
    height:auto;
}

.intro{
    height: 6vh;
    position:absolute;
    background-color: white;
    margin-top: 30px;
    font-family: 'Black Ops One', cursive;
    font-size: 20px;
    border-radius: 10px;
    transition-duration: 0.4s;
    border: 2px solid black;
}
.intro:hover{
    background-color:rgb(199, 199, 199);
    color: white;
    border-radius: 10px;
}
#quiz{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Black Ops One', cursive;
    border-radius: 10pt;
    width: 100%;

}
.autobot{
        width:40%;
        background-color: white;
        border: 2px groove black;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10pt;
        margin-top: 4px;
}
.submit {
    height: 5vh;
    color: rgb(124, 112, 112);
    font-family: 'Black Ops One', cursive;
    font-size: 20px;
    border-radius: 10px;
    transition-duration: 0.4s;
    border: 1px solid black;

}
.submit:hover{
    background-color:rgb(199, 199, 199);
    color: white;
    border-radius: 10px;
}
.answers {
    margin-top: 8px;
    margin-bottom: 8px;
    display: inline-block;
}
h1 {
   margin-bottom: 4px; 
   margin-top: 8px;
}
#name{
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 16pt;
}
.decepticon{
    width:40%;
    background-color: white;
    border: 2px groove red;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10pt;
    margin-top: 4px;
}