.background {
    width: 100%;
    opacity: 0.8;
    position: absolute;
    left: 0;
    top: 0;
    height:auto;
}
.score {
    height: 4vh;
    position: relative;
    float: right;
    background-color: white;
    font-family: 'Black Ops One', cursive;
    font-size: 20px;
    border-radius: 10px;
    transition-duration: 0.4s;
    border: 2px solid black;
    
}

.intro{
    height: 6vh;
    position:relative;
    background-color: white;
    margin-top: 30px;
    font-family: 'Black Ops One', cursive;
    font-size: 20px;
    border-radius: 10px;
    transition-duration: 0.4s;
    border: 2px solid black;
}
.intro:hover{
    background-color:rgb(199, 199, 199);
    color: white;
    border-radius: 10px;
}
#quiz{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Black Ops One', cursive;
    border-radius: 10pt;
    width: 100%;

}
.main{
        width:40%;
        background-color: white;
        border: 2px groove black;
        display: flex;
        height: 30vh;
        flex-direction: column;
        align-items: center;
        border-radius: 10pt;
        margin-top: 4px;
}
.submit {
    height: 5vh;
    color: rgb(124, 112, 112);
    font-family: 'Black Ops One', cursive;
    font-size: 20px;
    border-radius: 10px;
    transition-duration: 0.4s;
    border: 1px solid black;
    margin-top: 8px;

}
.submit:hover{
    background-color:rgb(199, 199, 199);
    color: white;
    border-radius: 10px;
}
.answers {
    margin-top: 8px;
    margin-bottom: 8px;
    display: inline-block;
}
h1 {
   margin-bottom: 10px; 
   margin-top: 8px;
}
.name{
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 18pt;
}
.reset{
height: 5vh;
    position: relative;
    float: right;
    background-color: white;
    font-family: 'Black Ops One', cursive;
    font-size: 20px;
    border-radius: 10px;
    transition-duration: 0.4s;
    border: 2px solid black;
    margin-right: 600px;
    margin-top: 8px;
    

    
}
.reset:hover{
    background-color:rgb(199, 199, 199);
    color: white;
    border-radius: 10px;
}